body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
    background-color: rgba(222, 223, 221, 0.493);
    text-align: center;
}
table{
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: rgb(184, 184, 184);
  text-align: center;
  border: 1px solid ;
}
table th,td{
    border: 1px solid ;

}
th,td{
    padding: 8px;
    text-align: center;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
